.main_block {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.every_user {
  width: 200px;
  /* height: 100px; */
  border-radius: 15px;
  background: #f5f5f5;
}

.every_user__name {
  color: #222;
}

.every_user__age {
  color: #222;
}

.every_user__job {
    color: #222;
}

.every_user__desc {
  color: #222;
}

img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 10px 0 0;
}